$base_primary:     #18374C ; //  #81d8bf;
$base_secundary:   #64BDA7;
$blanco:           #BFC4CE;
$gray-base:        #2a2a2a;
$gray-darker:      #18374C ;
$gray-dark:        #206776;
$gray:             #54B3BE;
$gray-light:       #91D4DA;
$gray-lighter:     #CEE1E6;
